h1{
    text-align: center;
}

div {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 10;
    align-items: center;
    border: 3px solid rgba(14, 67, 165, 0.582);
    outline: 2px outset rgb(70, 70, 112);
    box-shadow: 0 0 0 5px skyblue;
}

.selectors {
    border: 3px solid rgba(14, 67, 165, 0.582);
    outline: 2px outset rgb(70, 70, 112);
    box-shadow: 0 0 0 5px skyblue;
}

button {
    cursor: pointer;
}